/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500;600;700&family=Nanum+Pen+Script&family=Playfair+Display:wght@400;600;700&family=Roboto:wght@400;500&display=swap");
/* colors*/
/* fonts*/
/* media queries */
h1 {
  font-family: "Alegreya", serif;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-family: "Alegreya", serif;
  line-height: 1.5;
  font-weight: 500;
}

h3 {
  font-family: "Alegreya", serif;
  line-height: 1.5;
  font-weight: 500;
}

h4 {
  font-family: "Alegreya", serif;
  line-height: 1.5;
  font-weight: 500;
}

h5 {
  font-family: "Alegreya", serif;
  line-height: 1.5;
  font-weight: 500;
}

h6 {
  font-family: "Alegreya", serif;
  line-height: 1.5;
  font-weight: 500;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  font-family: "Alegreya", serif;
  text-decoration: none;
  -webkit-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
  color: #56534c;
}
a:hover, a:focus {
  text-decoration: none;
  color: #a47d5e;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 92%;
  }
}
@media (max-width: 63.938em) {
  html {
    font-size: 85%;
  }
}

html,
body {
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #a47d5e;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 90%;
  }
}
html.over,
body.over {
  overflow: hidden;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.375rem;
  padding: 0 1rem;
}

.df {
  display: flex;
}

.dfc {
  display: flex;
  flex-direction: column;
}

.dg {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}

.py6 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 767px) {
  .py6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  div[class^='w-'] {
    width: 100%;
  }
}

img {
  vertical-align: middle;
}

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Alegreya", serif;
  font-weight: 500;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.btn.sm {
  padding: .7rem 2rem;
}
.btn.white {
  color: #ffffff;
}
.btn.org {
  color: #dfc691;
}
.btn.dashed {
  border: 1px dashed #a47d5e;
}
.btn.bordered {
  border: 1px solid #a47d5e;
}
.btn.dgray {
  color: #a47d5e;
}
.btn.bg-black {
  background-color: rgba(86, 83, 76, 0.7);
  letter-spacing: 2px;
  box-shadow: inset 0 0 0 0 #f3f1e9;
}
.btn.bg-black:hover {
  box-shadow: inset 13rem 0 0 0 #a47d5e;
  border: 1px solid #a47d5e;
}
.btn.bg-white {
  background-color: #ffffff;
  letter-spacing: 2px;
  box-shadow: inset 0 0 0 0 #f3f1e9;
}
.btn.bg-white:hover {
  box-shadow: inset 0 13rem 0 0 #a47d5e;
  border: 1px solid #a47d5e;
  color: #ffffff;
}

.big-title {
  font-size: 3.75rem;
}
.big-title.white {
  color: #ffffff;
}
.big-title.black {
  color: #56534c;
}
@media (max-width: 767px) {
  .big-title {
    font-size: 2.5rem;
  }
}

.md-title {
  font-size: 2.2rem;
}
@media (max-width: 767px) {
  .md-title {
    font-size: 1.7rem;
  }
}

.sm-text {
  text-transform: uppercase;
  color: #a47d5e;
  margin-bottom: 4.375rem;
  font-family: "Alegreya", serif;
  font-size: 1rem;
}

.owl-nav {
  grid-gap: .7rem;
  position: absolute;
  left: 0;
  right: 0;
  top: calc( 50% - 1rem );
  justify-content: space-between;
}
.owl-nav, .owl-nav .owl-prev, .owl-nav .owl-next {
  align-items: center;
  display: flex;
  font-family: 'Nanum Pen Script', cursive !important;
}
.owl-nav .owl-prev {
  left: 0;
}
.owl-nav .owl-next {
  right: 0;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid #f3f1e9 !important;
  color: #cbc3a0 !important;
  font-size: 1.5rem !important;
  transition: all linear .3s;
}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  border-color: #56534c !important;
  color: #56534c !important;
}
.owl-nav .owl-prev > i.i, .owl-nav .owl-next > i.i {
  height: 1rem;
  display: block;
}

@keyframes menu-slide-right {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 18rem;
    height: 100%;
  }
}
@keyframes menu-slide-left {
  from {
    opacity: 1;
    width: 18rem;
    height: 100%;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
/***** header part *****/
.header {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: rgba(86, 83, 76, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header_inner {
  justify-content: space-between;
  grid-gap: 1rem;
  flex-wrap: wrap;
}
.header a {
  color: #ffffff;
}
.header a.active, .header a:hover {
  color: #dfc691;
}
.header .logo h1 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2rem;
  line-height: 1;
}

.menu {
  flex: 1;
}
@media (min-width: 768px) {
  .menu {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .menu {
    width: 15rem;
    flex-direction: column;
    left: -15rem;
    top: -100%;
    height: 100%;
    transition: all ease-in-out .5s;
    position: fixed;
    align-items: flex-start;
    z-index: 3;
    grid-gap: 2rem;
  }
}
.menu.on_mobile {
  background-color: #56534c;
  left: 0;
  top: 0;
  transition: all ease-in-out .5s;
  padding-top: 2rem;
  overflow-y: auto;
}
.menu_toggler {
  position: absolute;
  right: 1rem;
  border: 0;
  outline: none;
  box-shadow: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #f3f1e9;
  cursor: pointer;
  top: calc( 50% - 14px );
}
@media (min-width: 768px) {
  .menu_toggler {
    display: none;
  }
}
.menu_toggler:focus {
  outline: none;
  box-shadow: none;
}
.menu_ul {
  justify-content: space-around;
}
@media (min-width: 768px) {
  .menu_ul {
    flex: 1;
  }
}
@media (max-width: 767px) {
  .menu_ul {
    flex-direction: column;
    grid-gap: .7rem;
  }
}
.menu_li {
  position: relative;
  padding: 0 4rem;
}
@media (max-width: 1255px) {
  .menu_li {
    padding: 0 3rem;
  }
}
@media (max-width: 991px) {
  .menu_li {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .menu_li:not(:last-of-type):before {
    content: "~";
    font-size: 1rem;
    line-height: 1;
    position: absolute;
    right: -.34rem;
    top: calc( 50% - .5rem );
    color: #f3f1e9;
  }
}
.menu_a {
  font-family: "Alegreya", serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}

.social_ul {
  grid-gap: 1.5rem;
  align-items: center;
}
@media (max-width: 767px) {
  .social_ul {
    margin-left: 1rem;
  }
}

/***** banner part *****/
.banner {
  height: 100vh;
  background-size: cover !important;
}
.banner * {
  color: #ffffff;
}
.banner_inner {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.banner_title {
  font-family: 'Playfair Display', serif;
  font-size: 5.75rem;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 4.5rem;
}
@media (max-width: 767px) {
  .banner_title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
.banner_text {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #56534c;
  text-stroke: 1px #56534c;
}
@media (min-width: 768px) {
  .banner_text {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .banner_text {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}

.border-div {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: -3.9375rem;
  z-index: 1;
}
.border-div:before {
  content: "";
  width: 100%;
  height: .4rem;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: calc( 50% - .2rem );
}
.border-div .box {
  height: 7.5rem;
  width: 7.5rem;
  outline: .5rem solid transparent;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.border-div .box img {
  padding: .7rem;
  background-color: #ffffff;
  border-radius: 50%;
}

/***** arts of cakes *****/
.cake {
  margin-top: -3.5rem;
  background-size: cover !important;
}
.cake_inner {
  grid-gap: 2rem;
}
.cake_inner > div {
  grid-column: span 6;
}
@media (max-width: 767px) {
  .cake_inner > div {
    grid-column: span 12;
  }
}
.cake_text {
  align-items: center;
  text-align: center;
  padding: 0 3rem;
}
.cake_img {
  grid-gap: 1.5rem;
  position: relative;
}
.cake_img-outer {
  grid-column: span 6;
}
.cake_img-outer img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}
.cake_test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15.4375rem;
  width: 15.4375rem;
  background-size: cover !important;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  letter-spacing: 3px;
}
.cake_test h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

.chef_post {
  font-size: 1.5rem;
  font-weight: 600;
  color: #56534c;
  margin-top: 2.75rem;
  margin-bottom: 2.77rem;
}
.chef_name {
  font-size: 1.5rem;
  padding: .7rem 1rem;
  border-block: 1px solid #f3f1e9;
  writing-mode: horizontal-tb;
  color: #56534c;
}
.chef_div {
  grid-gap: 1.5rem;
  align-items: center;
}
.chef_div img {
  border-radius: 50%;
  border: 0.5rem solid #ffffff;
}
.chef_quote {
  margin-top: 1.5rem;
  width: 86%;
}
.chef_quote i {
  display: block;
}
.chef_quote i:first-of-type {
  align-self: flex-start;
  text-align: left;
}
.chef_quote i:last-of-type {
  align-self: flex-end;
  text-align: right;
}
.chef_quote p {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  max-width: 60%;
  margin: 0 auto;
}

/***** tasty part *****/
.tasty {
  background-size: cover !important;
  background-attachment: fixed !important;
  overflow: hidden;
}
.tasty_inner {
  flex-wrap: wrap;
  max-width: 64rem;
  margin: 0 auto;
}
.tasty .img-wrap {
  grid-column: span 5;
  background: url("../images/cherry.jpg") no-repeat top center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 100%, 11% 100%, 0 90%, 0 0);
}
.tasty .img-wrap img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.tasty_div {
  padding: 2.5rem;
  align-items: flex-start;
  justify-content: center;
  background: #ffffff url(../images/tasty-bottom-bg.png) no-repeat center center;
  background-position: right bottom;
  grid-column: span 6;
  position: relative;
}
@-moz-document url-prefix() {
  .tasty_div {
    max-width: 33rem;
  }
}
.tasty_div .ready-box {
  position: absolute;
  top: -2rem;
  right: -5rem;
  height: 12.5rem;
  width: 12.5rem;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 2.5rem 2rem rgba(86, 83, 76, 0.3);
}
.tasty_div .ready-box h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #a47d5e;
  letter-spacing: 2px;
  font-weight: bolder;
}
.tasty_div .ready-box time {
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1;
  font-family: "Alegreya", serif;
}
.tasty_div .ready-box small {
  font-size: 1rem;
  color: #56534c;
}
.tasty_slider {
  margin-top: 6.25rem;
  margin: 6.25rem auto 0;
}
.tasty_slider .owl-item {
  width: 6.25rem !important;
  height: 6.25rem;
}
.tasty_slider-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}
.tasty_slider .owl-stage-outer {
  max-width: 80%;
  margin: 0 auto;
}

/***** breakfast *****/
.break {
  background-size: cover !important;
  background-attachment: fixed !important;
}
.break_inner {
  grid-gap: 3rem;
  align-items: center;
}
.break .text-part {
  text-align: center;
  padding-left: 10rem;
}
.break .text-part .small-text {
  text-transform: uppercase;
  color: #a47d5e;
  margin-bottom: 4.375rem;
  font-family: "Alegreya", serif;
  font-size: 1.2rem;
}
.break .text-part .price-wrap {
  margin-top: 4rem;
}
.break .text-part .price-wrap .title {
  color: #ffffff;
  font-size: 1.7rem;
}
@media (max-width: 767px) {
  .break .text-part .price-wrap .title {
    font-size: 1.2rem;
  }
}
.break .text-part .price-wrap .sm-text {
  color: #e1dcc8;
  letter-spacing: 2px;
  font-size: .75rem;
}
.break .text-part .price-wrap .money {
  color: #dfc691;
  font-size: 2.25rem;
  margin-top: 1.75rem;
  display: block;
}
.break .box {
  padding-left: 15rem;
  padding-right: 8rem;
}
.break .box_info {
  padding: 2rem;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 7px 0 5px rgba(86, 83, 76, 0.5);
  z-index: 1;
  border: 1px dashed #a47d5e;
  outline: 0.5rem solid #ffffff;
}
.break .box_info:before, .break .box_info:after {
  border-right: 1px dashed #a47d5e;
  box-shadow: -5px 0px 0px 0px #ffffff, 5px 0px 0px 0px #ffffff;
}
.break .box_info:before {
  height: calc( 100% - 5rem );
  top: 2.5rem;
  right: -1.5rem;
}
.break .box_info .estd {
  justify-content: space-around;
}
.break .box_info-title {
  font-size: 2.75rem;
  margin-top: 4.6875rem;
  margin-bottom: 3.125rem;
  color: #a47d5e;
}
.break .box_info .btn {
  margin-top: 3.25rem;
  margin-bottom: 2rem;
}
.break .box .border {
  justify-content: center;
  position: relative;
}
.break .box .border > span, .break .box .border:before, .break .box .border:after {
  content: "";
  position: absolute;
}
.break .box .border > span {
  width: 100%;
  height: 1px;
  background-color: #56534c;
  left: 0;
  top: calc( 50% - .5px );
}
.break .box .border:before, .break .box .border:after {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #56534c;
  top: calc( 50% - .5rem );
  z-index: 1;
  background-color: #ffffff;
}
.break .box .border:before {
  left: 0;
}
.break .box .border:after {
  right: 0;
}
.break .box .border-round {
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  border: 1px solid #56534c;
  z-index: 1;
  background-color: #ffffff;
}
.break .box .content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/***** sabdwich part *****/
.sand .big-title, .sand .sm-text {
  text-align: center;
  display: block;
}
.sand_inner {
  grid-gap: 5rem;
}
.sand_small {
  grid-column: span 4;
  text-align: center;
  margin-top: -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  grid-gap: 2.5rem;
}
@media (max-width: 767px) {
  .sand_small {
    grid-column: span 12;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-gap: 1.5rem;
  }
}
.sand_small-item {
  grid-gap: 1rem;
  align-items: center;
}
@media (max-width: 767px) {
  .sand_small-item {
    grid-gap: .7rem;
  }
}
.sand_small-item img {
  box-shadow: 0 2px 5px 0 rgba(86, 83, 76, 0.2);
  border-radius: 50%;
}
.sand_small-item .title {
  font-size: 1.7rem;
  color: #a47d5e;
}
@media (max-width: 767px) {
  .sand_small-item .title {
    font-size: 1.2rem;
  }
}
.sand_big {
  grid-column: span 8;
  box-shadow: 0 5px 15px 0 rgba(86, 83, 76, 0.3);
  position: relative;
}
@media (max-width: 767px) {
  .sand_big {
    grid-column: span 12;
  }
}
.sand_big > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.7rem solid #ffffff;
}
.sand_prep {
  position: absolute;
  right: .7rem;
  height: calc( 100% + 2rem );
  top: -1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
}

/*# sourceMappingURL=front.css.map */
