html,
body{
	-webkit-text-size-adjust: 100%;
	font-family: $font-body;
	font-weight: 400;
	line-height: 1.6;
	color:$dgray;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	@include max(767px){
		font-size: 90%;
	}
	&.over{
		overflow: hidden;		
	}
}
ul,
ol{
	list-style-type: none;
}
.wrapper{
	@include contArea;
	padding:0 1rem;
}
.df{
	display: flex;
}
.dfc{
	display: flex;
	flex-direction:column;
}
.mt60{
	margin-top:3.75rem;
	@include max(767px){
		margin-top:1.7rem;
	}
}
.mt40{
	margin-top:2.5rem;
	@include max(767px){
		margin-top:1.5rem;
	}
}
.mt25{
	margin-top:1.5rem;
	@include max(767px){
		margin-top:1.2rem;
	}
}
.mb25{
	margin-bottom:1.5rem;
	@include max(767px){
		margin-bottom:1.2rem;
	}
}
.mb20{
	margin-bottom:1.25rem;
	@include max(767px){
		margin-bottom:1rem;
	}
}
.mb16{
	margin-bottom:1rem;
}
.mb7{
	margin-bottom:.7rem;
}
.mb5{
	margin-bottom:.5rem;
}
.mt16{
	margin-top:1rem;
}
.mt7{
	margin-top:.7rem;
}
.mt5{
	margin-top:.5rem;
}
.gap-24{
	grid-gap:1.5rem;
	@include max(767px){
		flex-direction:column;	
		grid-gap:1rem;	
	}
}
.gap-19{
	grid-gap:1.2rem;
	@include max(767px){
		grid-gap:1rem;	
	}
}
.gap-16{
	grid-gap:1rem;	
}
.gap-10{
	grid-gap:.875rem;
}
.gap-7{
	grid-gap:.7rem;
}
.gap-5{
	grid-gap:.5rem;
}
.grad-bg{
	background: linear-gradient(lighten($gray, 15%), lighten($gray, 20%));
}
.grad-bg2{
	background: linear-gradient(45deg, lighten($gray, 15%), lighten($gray, 20%));
}
.w-100{
	width:100%;
}
.w-75{
	width: calc( 75% - .75rem );	
}
.w-50{
	width: calc( 50% - .75rem );
}
.w-33{
	width: calc( 33.33% - 1rem );
}
.w-25{
	width: calc( 25% - .75rem );
}
.dim-bg{
	background-color: lighten($lgray, 2%);	
}
.white-bg{
	background-color: $white;	
}
.gray-bg{
	background-color: lighten($gray, 7%);
}
.dg{
	display: grid;
	grid-auto-rows: minmax(5rem, auto);	
	grid-auto-rows: auto;
}
.dg2{	
	grid-template-columns: repeat(2, 1fr);	
}
.dg12{
	grid-template-columns: repeat(12,1fr);
}
.hide_on_mobile{
	@include max(767px){
		display: none;
	}
}
.hide_on_desktop{
	@include min(768px){
		display: none;
	}
}
.p7{
	padding:.7rem 1rem;
}
.p5{
	padding:.5rem .7rem;
}
.p3{
	padding:3rem;
	@include max(767px){
		padding:1.5rem 1rem;
	}
}
.p2{
	padding:2rem;
	@include max(767px){
		padding:1.5rem 1rem;
	}
}
.p1{
	padding:1rem;
}
.pb1{
	padding-bottom: 1rem;
}
.pl5{
	padding-left:.5rem;
}
.pt5{
	padding-top:5rem;
	@include max(767px){
		padding-top:2rem;
	}
}
.pt1{
	padding-top:1rem;
}
.pb1{
	padding-bottom:1rem;
}
.pb5{
	padding-bottom:5rem;
	@include max(767px){
		padding-bottom:2rem;
	}
}
.pt3{
	padding-top: 3rem;
	@include max(991px){
		padding-top:2rem;
	}
	@include max(767px){
		padding-top:1rem;
	}
}
.pb3{
	padding-bottom: 3rem;
	@include max(991px){
		padding-bottom:2rem;
	}
	@include max(767px){
		padding-bottom:1rem;
	}
}
.pr1{
	padding-right:1rem;
}
.pl1{
	padding-left:1rem;
}
.tac{
	text-align: center;
}
.t-white{
	color:$white;
}
.aic{
	align-items:center;
}
.c5{
	@include radius(5px);
}
.mid-title{
	font-size: 1.9rem;
	@include max(767px){
		font-size: 1.5rem;
	}
}
.mid-title2{
	font-size: 1.5rem;
	@include max(767px){
		font-size: 1.2rem;
	}
}
.sm-title{
	font-size: 1.25rem;
}
.brtop{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.brbtm{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.brleft{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
}
.brright{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.bxbrleft{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
	@include max(576px){
		border-bottom-left-radius: 0;
		border-top-right-radius: 5px;
	}
}
.bxbrright{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
	@include max(576px){
		border-top-right-radius: 0;
		border-bottom-left-radius: 5px;
	}
}
div[class^='w-']{
	@include max(767px){
		width: 100%;
	}
}
img{	
	vertical-align: middle;
}
.img-outer{
	overflow: hidden;
	position: relative;
	& img{
		height:100%;
		object-fit:cover;
		transition:all linear .3s;
		width: 100%;	
	}
	&:hover{
		& img{
			transform:scale(1.01);
			transition:all linear .3s;
		}
	}
}
.btn{
	padding:.4rem 1.2rem;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	font-size: .875rem;
	&-bg{
		background-color: $main;
		color:$white;
		border:2px solid transparent;
		@include radius(5px);
		margin-top:.9rem;
		&:hover{
			color:$main;
			background-color: transparent;
			border-color:$main;
		}
	}
	&-text{
		color:$main;
	}
}
.owl-dots{
	text-align: center;
	& .owl-dot{
		width: 1rem;
		height: 1rem;
		@include radius(7px);
		&:not(.active){
			border: 3px solid $main;
		}
		&:not(:last-of-type){
			margin-right: 7px;
		}
		&.active{
			background-color: $main;	
		}
	}
}
.owl-nav{	
	grid-gap:.7rem;	
	&,
	& .owl-prev,
	& .owl-next{		
		justify-content:center;
		align-items:center;
		display: flex;
	}
	& .owl-prev,
	& .owl-next{		
		height: 2rem;
		width:2rem;
		@include radius(3px);
		background-color: $gray !important;
		color:darken($gray, 22%) !important;
		font-size: 1.6rem !important;
		transition:all linear .3s;
		&:hover{
			color:$dgray !important;
		}
		&>i.cf{
			height: 1rem;
			display: block;
		}		
	}
}
input[type="text"],
input[type="search"]{
	padding:.5rem;
	&:focus{
		outline: none;
		box-shadow: none;		
	}
}