@import "base";
@import "utility";
@keyframes menu-slide-right{
  from {
    opacity: 0;
    width:0;
    height:0;
  }
  to {
    opacity: 1;
    width: 18rem;
    height:100%;
  }
}
@keyframes menu-slide-left{
  from {
    opacity: 1;
    width:18rem;
    height:100%;
  }
  to {
    opacity: 0;
    width:0;
    height:0;
  }
}
/***** header part *****/
.header{
	padding-top:1.2rem;
	padding-bottom: 1.2rem;
	background-color: rgba($black, .7);
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:2;
	&_inner{
		justify-content:space-between;
		grid-gap:1rem;
		flex-wrap:wrap;
	}
	& a{
		color:$white;
		&.active,
		&:hover{
			color:$org;
		}
	}
	.logo{
		& h1{
			font-family: 'Nanum Pen Script', cursive;
			font-size: 2rem;
			line-height: 1;
		}
	}
}
.menu{
	flex:1;
	@include min(768px){
		justify-content:space-between;
	}
	@include max(767px){
		width:15rem;
		flex-direction:column;
		left:-15rem;
		top:-100%;
		height:100%;
		transition:all ease-in-out .5s;
		position: fixed;
		align-items:flex-start;	
		z-index: 3;
		grid-gap:2rem;
	}
	&.on_mobile{			
		background-color: $black;
		left:0;
		top:0;
		transition:all ease-in-out .5s;
		padding-top: 2rem;	
		overflow-y:auto;							
	}
	&_toggler{
		@include min(768px){
			display: none;
		}
		position: absolute;
		right:1rem;
		border:0;
		outline: none;
		box-shadow:none;
		font-size: 1.5rem;
		background-color:transparent;
		color:$gray;
		cursor: pointer;
		top: calc( 50% - 14px );
		&:focus{
			outline: none;
			box-shadow: none;
		}
	}
	&_ul{
		justify-content:space-around;
		@include min(768px){
			flex:1;
		}
		@include max(767px){
			flex-direction:column;
			grid-gap:.7rem;
		}
	}
	&_li{
		position: relative;
		padding:0 4rem;
		@include max(1255px){
			padding:0 3rem;
		}
		@include max(991px){
			padding:0 1rem;
		}
		&:not(:last-of-type){
			&:before{
				@include min(768px){
					content: "~";
					font-size: 1rem;
					line-height: 1;
					position: absolute;
					right:-.34rem;
					top:calc( 50% - .5rem );
					color:$gray;
				}
			}
		}
		
	}
	&_a{
		font-family: $font-title;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 0.875rem;		
	}
}
.social{
	&_ul{
		grid-gap:1.5rem;
		align-items:center;
		@include max(767px){
			margin-left:1rem;
		}
	}
	&_li{

	}
	&_a{

	}
}
/***** banner part *****/
.banner{
	height: 100vh;
	& *{
		color:$white;
	}
	&_inner{
		height:100%;
		align-items:center;
		justify-content:center;
	}
	&_title{
		font-family: 'Playfair Display', serif;
		font-size: 5.75rem;
		font-weight: 600;
		letter-spacing: 5px;
		margin-bottom: 4.5rem;
		@include max(767px){
			font-size: 3rem;
			margin-bottom: 3rem;
		}
	}
	&_text{		
		font-size: 1.5rem;
		margin-bottom:3.5rem;
		text-align: center;
    	font-weight: 500;
    	letter-spacing: 3px;		
    	-webkit-text-stroke: 1px $black;
    	text-stroke: 1px $black;
    	@include min(768px){
    		max-width: 50%;
    	}
		@include max(767px){
			margin-bottom: 2rem;
			font-size: 1.2rem;
		}
	}
}
.border-div{
	position: relative;	
	justify-content:center;
	align-items:center;
	margin-top:-3.9375rem;
	z-index:1;
	&:before{
		content:"";
		width: 100%;
		height:.4rem;
		background-color: $white;
		position: absolute;
		left:0;
		top:calc( 50% - .2rem );
	}
	& .box{
		height: 7.5rem;
		width:7.5rem;
		outline:.5rem solid transparent;		
		align-items:center;
		justify-content:center;
		z-index: 2;
		& img{
			padding:.7rem;
			background-color: $white;
			@include radius(50%);

		}
	}
}
/***** arts of cakes *****/
.cake{	
	margin-top:-3.5rem;
	background-size:cover !important;
	&_inner{
		grid-gap:2rem;
		&>div{
			grid-column:span 6;
			@include max(767px){
				grid-column:span 12;
			}
		}
	}
	&_text{
		align-items:center;	
		text-align: center;	
		padding:0 3rem;
	}
	&_post{

	}
	&_img{
		grid-gap:1.5rem;
		position: relative;
		&-outer{
			grid-column:span 6;
			& img{
				width:100%;
				height:17rem;
				object-fit:cover;	
			}
		}	
		
	}
	&_test{
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		height: 15.4375rem;
		width:15.4375rem;
		background-size:cover !important;		
		align-items: center;
    	justify-content: center;
    	padding: 2rem;
    	text-align: center;
    	letter-spacing: 3px; 
    	& h4{
    		font-size: 1.7rem;
    		font-weight: 500;
    	}
	}
}
.chef{
	&_post{
		font-size: 1.5rem;
		font-weight: 600;
		color:$black;
		margin-top:2.75rem;
		margin-bottom: 2.77rem;
	}
	&_name{
		font-size: 1.5rem;
		padding:.7rem 1rem;
		border-block: 1px solid $gray;
		writing-mode: horizontal-tb;
		color:$black;
	}
	&_div{
		grid-gap:1.5rem;
		align-items:center;
		& img{
			@include radius(50%);
			border:.5rem solid $white;
		}
	}
	&_quote{
		margin-top:1.5rem;
		width:86%;
		& i{
			display: block;
			&:first-of-type{
				align-self:flex-start;
				text-align: left;
			}
			&:last-of-type{
				align-self:flex-end;
				text-align: right;
			}
		}
		& p{
			font-family: 'Nanum Pen Script', cursive;
			font-size: 1.5rem;
			max-width: 60%;
			margin: 0 auto;
		}
	}
}
/***** tasty part *****/
.tasty{
	@include imgFixed;
	overflow: hidden;
	&_inner{
		flex-wrap:wrap;
		max-width: 64rem;
		margin:0 auto;
	}
	& .img-wrap{
		grid-column:span 5;
		background:url('../images/cherry.jpg') no-repeat top center;
		background-size: cover;
		clip-path: polygon(100% 0, 100% 100%, 11% 100%, 0 90%, 0 0);

		& img{
			width:100%;
			object-fit:cover;
			height:100%;
		}
	}
	&_div{
		// background-color: $white;
		padding:2.5rem;
		align-items:flex-start;
		justify-content:center;
		background: $white url(../images/tasty-bottom-bg.png) no-repeat center center;
		background-position: right bottom;
		grid-column:span 6;
		position: relative;
		@include firefox{
			max-width: 33rem;
		}
		& .ready-box{
			position: absolute;
			top:-2rem;
			right:-5rem;
			height:12.5rem;
			width:12.5rem;
			align-items:center;
			justify-content:center;
			background-color: $white;
			box-shadow: 0 .5rem 2.5rem 2rem rgba($black, .3);
			& h5{
				font-size: 1.2rem;
				text-transform: uppercase;
				color:$dgray;
				letter-spacing: 2px;
				font-weight: bolder;
			}
			& time{
				font-size: 5rem;
				margin-top:1rem;
				margin-bottom:.5rem;
				line-height: 1;
				font-family: $font-title;
			}
			& small{
				font-size: 1rem;
				color:$black;

			}
		}
	}
	&_slider{
		margin-top:6.25rem;
		margin:6.25rem auto 0;
		& .owl-item{
			width: 6.25rem !important;
			height:6.25rem;	
		}
		&-item{
			height:100%;
			width:100%;
			object-fit:cover;
			@include radius(50%);
			margin:0 auto;
		}
		& .owl-stage-outer{
			max-width: 80%;
			margin:0 auto;
		}
	}
}
/***** breakfast *****/
.break{
	@include imgFixed;
	&_inner{
		grid-gap:3rem;
		align-items:center;
		justify-content:space-around;
		flex-wrap:wrap;
	}
	& .text-part{
		text-align: center;
		& .small-text{
			@include smtext;
			font-size: 1.2rem;
		}
		& .price-wrap{
			margin-top:4rem;
			& .title{
				color:$white;
				font-size: 1.7rem;
			}
			& .sm-text{
				color: darken($gray, 10%);
				letter-spacing: 2px;
				font-size: .75rem;
			}
			& .money{
				color:$org;
				font-size: 2.25rem;
				margin-top:1.75rem;
				display: block;
			}
		}
	}
	& .box{
		
		&_info{
			position: relative;
			padding:2rem;
			background-color: $white;
			border:1px dashed $dgray;
			outline:5px solid $white;
			position: absolute;			
		}
	}
	
}